{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
<section class="container mainSection">
    <h1 class="h3 mb-3 font-weight-normal">Réinitialisation du mot de passe</h1>
    {{ form_start(passForm) }}

        {{ form_row(passForm.password) }}
        <button type="submit" class="btn btn-lg btn-primary mt-3">Envoyer</button>

    {{ form_end(passForm) }}

</section>
{% endblock %}
