{% extends 'base.html.twig' %}

{% block title %}Snowtricks{% endblock %}

{% block body %}
    <section id="hero" class="container d-flex justify-content-center">
        <div class="d-flex text-center align-items-end ">
            <div class=" h-25">
                <h1 class="alert alert-primary">Bienvenue sur SNOWTRICKS !</h1>
                <p id="heroP" class="display-sm-6 lead alert alert-primary ">Le site de référence pour les tricks en snowboard !</p>
            </div>
        </div>
    </section>
    <div class="container">

    </div>
{% endblock %}
