{% extends 'base.html.twig' %}

{% block body %}
    <section id="hero" class="container d-flex justify-content-center">
        <div class="d-flex text-center align-items-end ">
            <div class="h-25">
                <h1 class="alert alert-primary">Bienvenue sur SNOWTRICKS !</h1>
                <p id="heroP" class="display-sm-6 lead alert alert-primary ">Le site de référence pour les tricks en snowboard !</p>
            </div>
        </div>
    </section>
    <section id="homeTricks" class="container text-center mt-5">
        <h2>Les Tricks</h2>

        <div class="card-deck row mx-auto">
            {% for trick in tricks %}
            <div class="card border-primary m-3" style="max-width: 18rem;">
                {% if trick.media == false %}
                    <img class="card-img-top mt-2 object-fit-contain " src="{{ asset('assets\img\tricks\300x300-photo_default.webp') }}">
                {% else %}
                    <img class="card-img-top mt-2 object-fit-contain " src="{{ asset('assets/img/uploads/tricks/mini/300x300-') ~ trick.media.name }}">
                {% endif %}
                <div class="card-body d-flex justify-content-start align-items-center my-auto">
                    <a href="/trick/{{ trick.slug }}" class="text-decoration-none text-left">
                        {{ trick.name }}
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>
        {% set path ='home' %}
        {% set pages = pages %}
        {% set slug = '/' %}
        {% set currentPage = page %}
        {% include "partials/pagination.html.twig" %}
    </section>
{% endblock %}
