{% extends 'base.html.twig' %}

{% block body %}
    <section id="hero" class="container d-flex justify-content-center">
        <div class="d-flex text-center align-items-end ">
            <div class=" h-25">
                <h1 class="alert alert-primary">Bienvenue sur SNOWTRICKS !</h1>
                <p id="heroP" class="display-sm-6 lead alert alert-primary ">Le site de référence pour les tricks en snowboard !</p>
            </div>
        </div>
    </section>
    <section id="homeTricks" class="container text-center mt-5">
        <h2>Les Tricks</h2>

        <div class="card-deck row mx-auto justify-content-center">
        {% for trick in tricks %}
            <div class="card border-primary m-3" style="max-width: 18rem;">
                <div class="card-header">{% for eachGroup in trick.trickGroup %}
                    {{ eachGroup.name }}
                {% endfor %}</div>
                <div class="card-body">
                    <h4 class="card-title">{{ trick.name }}</h4>
                    <img class="card-img" src="/assets/img/hero2.jpg">
                    <p class="card-text">{{ trick.description }}</p>
                </div>
                <div class="card-footer">{{ trick.updatedAt | date('d/m/Y') }}</div>
            </div>
        {% endfor %}

            <div class="card border-primary m-3" style="max-width: 18rem;">
                <div class="card-header">Groupe</div>
                <div class="card-body">
                    <h4 class="card-title">Trick title</h4>
                    <img class="card-img" src="/assets/img/hero.jpg">
                    <p class="card-text">Some quick example text.</p>
                </div>
            </div>

            <div class="card border-primary m-3" style="max-width: 18rem;">
                <div class="card-header">Groupe</div>
                <div class="card-body">
                    <h4 class="card-title">Trick title</h4>
                    <img class="card-img" src="/assets/img/hero2.jpg">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

            <div class="card border-primary m-3" style="max-width: 18rem;">
                <div class="card-header">Groupe</div>
                <div class="card-body">
                    <h4 class="card-title">Trick title</h4>
                    <img class="card-img" src="/assets/img/hero.jpg">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

            <div class="card border-primary m-3" style="max-width: 18rem;">
                <div class="card-header">Groupe</div>
                <div class="card-body">
                    <h4 class="card-title">Trick title</h4>
                    <img class="card-img" src="/assets/img/hero2.jpg">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

            <div class="card border-primary m-3" style="max-width: 18rem;">
                <div class="card-header">Groupe</div>
                <div class="card-body">
                    <h4 class="card-title">Trick title</h4>
                    <img class="card-img" src="/assets/img/hero.jpg">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

            <div class="card border-primary m-3" style="max-width: 18rem;">
                <div class="card-header">Groupe</div>
                <div class="card-body">
                    <h4 class="card-title">Trick title</h4>
                    <img class="card-img" src="/assets/img/hero2.jpg">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

            <div class="card border-primary m-3" style="max-width: 18rem;">
                <div class="card-header">Groupe</div>
                <div class="card-body">
                    <h4 class="card-title">Trick title</h4>
                    <img class="card-img" src="/assets/img/hero.jpg">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

            <div class="card border-primary m-3" style="max-width: 18rem;">
                <div class="card-header">Groupe</div>
                <div class="card-body">
                    <h4 class="card-title">Trick title</h4>
                    <img class="card-img" src="/assets/img/hero2.jpg">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card border-primary m-3" style="max-width: 18rem;">
                <div class="card-header">Groupe</div>
                <div class="card-body">
                    <h4 class="card-title">Trick title</h4>
                    <img class="card-img" src="/assets/img/hero.jpg">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

            <div class="card border-primary m-3" style="max-width: 18rem;">
                <div class="card-header">Groupe</div>
                <div class="card-body">
                    <h4 class="card-title">Trick title</h4>
                    <img class="card-img" src="/assets/img/hero2.jpg">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>

    </section>
{% endblock %}
