{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Modifier mon profil{% endblock %}

{% block body %}
<section class="container mainSection">
    <h1 class="mt-5 text-center">Hello {{ user.username|capitalize }}, ici tu peux modifier ton profil !</h1>
    {% include "profil/_form.html.twig" %}

</section>
{% endblock %}
