a:hover,
button{
    cursor: url("../img/icon.png"), pointer;
}

#hero {
    background: url("../img/hero.jpg") no-repeat center;
    min-height: 60rem;
    position: relative;
    max-width: 100%;
    background-size: cover;
}

#heroP{
    letter-spacing: .2rem;
}

#singleTrick{
    margin: 10rem auto;
}

.singleTrickMedias{
    max-width: 15rem;
    border-radius: 25px;
}

@media (max-width: 576px)
{
    #singleTrick{
        max-width: 80vw;
        margin: 5rem auto;
    }
}
