<h1>Réinitialisez votre mot de passe</h1>

<p>Bonjour {{ user.username }},</p>
<p>Pour réinitialisez votre mot de passe sur Snowtrick, merci de cliquer sur le lien ci dessous :</p>
<p><a href="{{ absolute_url(path('reset_password', {token: token})) }}">Lien</a></p>
