{% extends 'base.html.twig' %}

{% block body %}

    <section class="container mainSection">

        <h1 class="text-center">Cette page n'existe pas</h1>

        <div class="w-25 my-5 mx-auto">
            <img src="{{ asset('assets/img/photo_404.webp') }}" class="my-5 w-100">
        </div>

    </section>

{% endblock %}
