{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Ajouter un Trick{% endblock %}

{% block body %}
    <section class="container mainSection">
        <h1>Modifier un trick</h1>
        {% include "trick/_form.html.twig" with { 'button_label': 'Modifier' } %}
    
    </section>
{% endblock %}

{% block javascriptsend %}
    <script src="{{ asset('assets/js/media.js') }}" defer></script>
{% endblock %}
