{% extends 'base.html.twig' %}

{% block title %}Hello AdminTricksController!{% endblock %}

{% block body %}

<section class="container mainSection">

        <a href="{{ path('home') }}" class="btn btn-primary m-auto">Retour à l'accueil</a>

</section>
{% endblock %}
